* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dela Gothic One', cursive;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
}
#hero {
    background-image: url("https://cityhonda.in/storage/app/uploads/public/5f5/5f3/510/5f55f351017d7922822364.jpg");
    background-size: cover;
    background-position:  center;
    position: relative;
    z-index: 1;
}  

.h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}
.hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: black
    
}
.hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: wheat;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
.cta {
    display: inline-block;
    color:black;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid black;
    font-size: 2rem;
    padding: 0;
    margin-bottom: 700px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    transition: .3s ease background-colour;
    transition-property: background-color, color;
}

#hero .cta:hover {
    color: wheat;
    background-color: black;
}
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;

    }
100% {
    width: 0;
    left: 100%;
}
}    

  